*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	background: url();
	background-size: cover;
}

.box {
	position: relative;
	width: 200px;
	height: 300px;
	transform-style: preserve-3d;
	animation: animate 20s linear infinite;
}